.header{
    display: flex;
    padding-top: 60px;

    &__link{
        text-decoration: none;
        margin-right: 352px;

    }

    &__list{
        list-style-type: none;
        display: flex;
        max-width: 742px;
        justify-content: space-between;
    }
}
.activeforimg{
    background-image: url(./../../img/home-hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 1520px;
}