.header{
    display: flex;

    &__link{
        text-decoration: none;
        
    }
}
.activeforimg{
    background-image: url(./../../img/home-hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 1520px;
}