.online{
    display: flex;
    flex-direction: column;

    &__boxes-img{
        display: flex;

        &__wrap{
            display: flex;
            justify-content: space-between;

            &__heading{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
    }

    &-wrap{
        max-width: 239px;
    }
}
.special__heading{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #646464;
    margin-bottom: 20px;
}
.special__text{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #646464;
    margin-bottom: 40px;

}