.online{
    display: flex;
    flex-direction: column;

    &__boxes-img{
        display: flex;
        margin-bottom: 80px;
        overflow: hidden;

        &__box{
            background-image: url(./../../img/home-online-img1.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 394px;
            height: 394px;
            display: block;
            border-radius: 10px;
            margin-right: 15px;
            transition: 1s;
            overflow: hidden;

            &::before{
                content: "";
                position: absolute;
                width: 150px;
                height: 394px;
                background: linear-gradient(#00ccff, #d400d4);
                // overflow: hidden;
                animation: animate 4s linear infinite;
                // text-align: center;
                

            }


            &:hover{
                border: 1px solid #F3F3F3;
                box-sizing: border-box;
                border-radius: 5px;
                box-shadow: 12px 12px 2px 1px rgba(101, 101, 236, 0.2);
                transform: scale(0.8);
            }

            &:active{
                opacity: 0.8;
                box-shadow: 12px 12px 2px 1px rgba(82, 82, 85, 0.2);
            }


            &__wrap{
                display: flex;
                justify-content: space-between;
                max-width: 323px;
                margin: 0 auto;
                padding-top: 338px;
                
    
                &__heading{
                    margin: 0;
                    padding: 0;
                    font-family: "Montserrat", "Arial", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                    z-index: 100;
                }

                &__text{
                    margin: 0;
                    padding: 0;
                    font-family: "Montserrat", "Arial", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #F39303;
                    z-index: 100;
                }
            }
        }


    }

    &-wrap{
        max-width: 239px;
    }
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


.special__heading{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #646464;
    margin-bottom: 20px;
}
.special__text{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #646464;
    margin-bottom: 40px;

}