.aboutus{
    display: flex;
    flex-direction: column;

    &__heading{
        margin: 0;
        padding: 0;
        font-family: "Montserrat", "Arial", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #646464;
        margin-bottom: 20px;
    }

    &__text{
        margin: 0;
        padding: 0;
        max-width: 603px;
        font-family: "Montserrat", "Arial", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        text-align: justify;
        color: #646464;
    }

    &__wrap{
        display: flex;
        // justify-content: space-between;
        margin-top: 50px;

        &__left-side{
            max-width: 750px;
            margin-right: 90px;
            margin-bottom: 80px;

            &::before{
                content: "";
                background-image: url(./../../img/home-aboutus-arrow-img.svg);
                background-size: cover;
                background-repeat: no-repeat;
                display: block;
                width: 87px;
                height: 75px;
                position: absolute;
                margin-left: 567px
                mt50

            }
        }
        &__right-side{
            max-width: 750px;
            display: flex;
            flex-direction: column;


            &__text{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 150%;
                text-align: justify;
                color: #646464;
                margin-top: 38px;
                margin-left: 44px;
                margin-bottom: 30px;
                max-width: 736px;

                &::before{
                    content: "";
                    background-image: url(./../../img/home-arrow-aboutus.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: block;
                    width: 140px;
                    height: 120px;
                    position: absolute;
                    margin-top: -35px;
                    margin-left: -50px;
                }
            }

            &__heading{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 150%;
                text-align: justify;
                color: #646464;
                margin-left: 44px;
                margin-bottom: 20px;

                &::before{
                    content: "";
                    background-image: url(./../../img/home-aboutus-arrow.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: block;
                    width: 34px;
                    height: 34px;
                    position: absolute;
                    margin-top: -230px;
                    margin-left: -36px;
                }
            }

            &__text1{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 150%;
                text-align: justify;
                color: #646464;
                margin-bottom: 10px;
                margin-left: 44px;

                &::before{
                    content: "";
                    background-image: url(./../../img/home-aboutus-round.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: block;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    margin-left: -35px;
                    margin-top: 8px;
                }
            }
        }
    }

}