.royxat{
    background-image: url(./../../img/home-input-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 1620px;
    height: 274px;
}
.input-wrapper{
    max-width: 754px;
    padding-top: 54px;
}