.aboutus{
    display: flex;
    flex-direction: column;

    &__heading{
        margin: 0;
        padding: 0;
        font-family: "Montserrat", "Arial", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #646464;
        margin-bottom: 20px;
    }

    &__text{
        margin: 0;
        padding: 0;
        max-width: 603px;
        font-family: "Montserrat", "Arial", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        text-align: justify;
        color: #646464;
    }

    &__wrap{
        display: flex;
        // justify-content: space-between;
        margin-top: 50px;

        &__left-side{
            max-width: 750px;
            margin-right: 90px;
            margin-bottom: 80px;
        }
        &__right-side{
            max-width: 750px;
            display: flex;
            flex-direction: column;


            &__text{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 150%;
                text-align: justify;
                color: #646464;
                margin-top: 38px;
                margin-left: 44px;
                margin-bottom: 80px;
                max-width: 736px;
            }

            &__heading{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 150%;
                text-align: justify;
                color: #646464;
                margin-left: 44px;
                margin-bottom: 30px;
            }
        }
    }

}