.container-gallery{
    max-width: 1659px;
    margin: 0 auto;
    padding: 0 15px;
}
.gallery{
    max-width: 1659px;
    margin-bottom: 80px;

    &__heading{
        margin: 0;
        padding: 0;
        font-family: "Montserrat", "Arial", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        color: #646464;
        margin-bottom: 20px;
    }

    &__text{
        margin: 0;
        padding: 0;
        font-family: "Montserrat", "Arial", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        text-align: justify;
        color: #646464;
        margin-bottom: 40px;
    }

    &-boxes{
        display: flex;
        flex-wrap: wrap;
        // margin: 0 auto;
        margin-left: 13px;

        &__box{
            margin-right: 15px;
            cursor: pointer;
            margin-bottom: 15px;
            transition: 1s;
            border-radius: 5px;
            
            &:hover{
                border-radius: 15px;
                box-shadow: 12px 12px 2px 1px rgba(101, 101, 236, 0.2);
                transform: scale(1.1);
                border-radius: 5px;
            }
            &:active{
                opacity: 0.8;
                box-shadow: 12px 12px 2px 1px rgba(109, 109, 124, 0.2);
                transform: scale(0.9);
                border-radius: 5px;
            }

            &__text{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 150%;
                // text-align: justify;
                color: #FFFFFF;
                position: absolute;
                margin-top: -50px;
                border-bottom: 2px solid #F39303;
                margin-left: 20px;
                border-radius: 5px;
                transition: 1s;

                &:hover{
                    color: rgb(151, 0, 0);
                    margin-top: 2px;
                }
                &:active{
                    opacity: 0.7;
                }

            }
        }
    }
}
.active-div{
    margin-right: 0;
}