.home-contact{
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    &__heading{
        margin: 0;
        padding: 0;
        font-family: "Montserrat", "Arial", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 150%;
        text-align: justify;
        color: #646464;
        margin-bottom: 40px;
    }

    &__wrap1{
        display: flex;
        margin-bottom: 75px;
        justify-content: space-between;


        &__address{
            display: flex;
            flex-direction: column;

            &__heading{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 150%;
                text-align: justify;
                color: #F39303;
                margin-bottom: 20px;
            }
            &__text{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                color: #646464;
                width: 340px;
            }
        }

        &__phone{
            display: flex;
            flex-direction: column;

            &__heading{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 150%;
                text-align: justify;
                color: #F39303;
                margin-bottom: 20px;
            }

            &__n1{
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #646464;
                margin-bottom: 12px;
                text-decoration: none;
            }
            &__n2{
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #646464;
                text-decoration: none;
            }
        }

        &__email{
            display: flex;
            flex-direction: column;

            &__heading{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 150%;
                text-align: justify;
                color: #F39303;
                margin-bottom: 20px;
            }

            &__email1{
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #646464;
                margin-bottom: 12px;
                text-decoration: none;
            }
            &__email2{
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #646464;
                text-decoration: none;
            }
        }

        &__contact{
            display: flex;
            flex-direction: column;
            align-self: center;

            
                &__heading{
                    margin: 0;
                    padding: 0;
                    font-family: "Montserrat", "Arial", sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 150%;
                    text-align: justify;
                    color: #F39303;
                    margin-bottom: 25px;
                }
            &__wrap{
                display: flex;
    
                &__input{
                    background-color: rgba(105, 155, 247, 0.78);
                    padding: 10px;
                    // border: none;
                    border-radius: 3px;
                    width: 308px;
                    color: white;
                }

                &__btn{
                    background: #F39303;
                    border-radius: 5px;
                    width: 54px;
                    height: 50px;
                    border: none;
                    position: relative;
                    margin-left: -8px;
                }
            }


        }
    }

    &__wrap2{
        display: flex;
        justify-content: space-between;

        &__logo{
            display: flex;
            flex-direction: column;

            &__logo{
                // align-self: center;
                margin-bottom: 53px;
            }

            &__text{
                margin: 0;
                padding: 0;
                font-family: "Montserrat", "Arial", sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                color: #646464;

                &::before{
                    content: "";
                    background-image: url(./../../img/home-contact-lines.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 268px;
                    height: 21px;
                }
            }
        }
    }
}